<app-header></app-header>

<section class="hero">
    <div class="hero-content">
        <h1>Bienvenido a mi Api</h1>
        <p>Encuentra productos y musicas</p>
        <a routerLink="/pets" class="cta-button">Ver musicas</a>
        <a routerLink="/accessories" class="cta-button">Ver productos</a>
    </div>
</section>

<section class="features">
    <div class="feature">
        <h2>Musica</h2>
        <p>Tenemos musica de tu agrado</p>
    </div>
    <div class="feature">
        <h2>Productos</h2>
        <p>Encuentra los mejores productos al mejor precio</p>
    </div>
    <div class="feature">
        <h2>Envío rápido</h2>
        <p>Recibe tus pedidos en la puerta de tu casa.</p>
    </div>
</section>

<app-footer></app-footer>